:root {
  --font-family: "Roboto", sans-serif;
  --color-black: #191919;
  --color-black-light: #292929;
  --color-gray: #e6e6e6;
  --color-white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}